<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="Check your public IP address instantly. View your remote IP and location details online.">
        <meta name="keywords" content="IP lookup, find my IP, public IP, remote IP, my IP address, what is my IP">
        <meta name="author" content="toolstack apps">
        <meta name="robots" content="index, follow">

        <meta name="build-sha" content="[[BUILD_SHA]]" />
        <meta name="build-date" content="[[BUILD_DATE]]" />

        <link rel="icon" type="image/png" href="{{.RootSlash}}images/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="{{.RootSlash}}images/favicon.svg" />
        <link rel="shortcut icon" href="{{.RootSlash}}images/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{.RootSlash}}images/apple-touch-icon.png" />
        <meta name="apple-mobile-web-app-title" content="Tool Stack Ip" />
        <link rel="manifest" href="{{.RootSlash}}site.webmanifest" />

        <meta property="og:url" content="https://ip.toolstack.app">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Tool Stack Ip - {{.ClientIP}}">
        <meta property="og:description" content="Check your public IP address instantly. View your remote IP and location details online.">
        <meta property="og:image" content="https://ip.toolstack.app/images/og-image.png">

        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <title>Tool Stack Ip - {{.ClientIP}}</title>
        <script>
            const links = [
                {
                    title: "Yen & Geç iOS Game now!",
                    href: "https://apps.apple.com/tr/app/yen-gec/id6683308230?itscg=30200&itsct=apps_box_badge&mttnsubad=6683308230",
                    src: "https://is1-ssl.mzstatic.com/image/thumb/Purple221/v4/22/a0/fa/22a0fae2-3f84-60c8-8c06-a7c700f6149d/AppIcon-0-0-1x_U007ephone-0-1-85-220.png/540x540bb.jpg",
                    alt: "Yen & Geç - iOS Trivia App icon",
                },
                {
                    title: "IBAN Keeper now!",
                    href: "https://apps.apple.com/tr/app/iban-keeper/id6743026110?itscg=30200&itsct=apps_box_badge&mttnsubad=6743026110",
                    src: "https://is1-ssl.mzstatic.com/image/thumb/Purple221/v4/5f/2b/fa/5f2bfa7f-8734-d91d-8b0e-dbffcbb3024c/AppIcon-0-0-1x_U007ephone-0-1-85-220.png/540x540bb.jpg",
                    alt: "IBAN Keeper - Securely Store and Share IBANs with Ease!",
                },
                {
                    title: "SummarizeMe - URL's & Files",
                    href: "https://apps.apple.com/us/app/summarizeme-urls-files/id6747477540?itscg=30200&itsct=apps_box_link&mttnsubad=6747477540",
                    src: "https://is1-ssl.mzstatic.com/image/thumb/Purple221/v4/eb/50/c1/eb50c17e-d52a-c320-7042-ea2049d359aa/AppIcon-0-0-1x_U007ephone-0-1-85-220.png/540x540bb.jpg",
                    alt: "SummarizeMe - Summarize anything with AI",
                },
            ]

            function getRandomLink() {
              const randomIndex = Math.floor(Math.random() * links.length);
              return links[randomIndex];
            }

            function renderRandomLink() {
              const container = document.getElementById("random-link-container");
              const { title, href, src, alt } = getRandomLink();
              
              container.innerHTML = `
                <a title="Download ${title} Available on the App Store!" href="${href}" target="_blank" rel="noopener noreferrer">
                  <img class="mx-auto w-32 my-8 rounded-[24px] ring-4 ring-indigo-400 shadow-xl" alt="${alt}" src="${src}" />
                </a>
              `;
            }


            document.addEventListener("DOMContentLoaded", function () {
                renderRandomLink();

                document.getElementById("copyText").addEventListener("click", function () {
                    const text = this.innerText;
                    navigator.clipboard.writeText(text).then(() => {
                        window.alert("Your IP: " + text + " is copied to your clipboard!");
                    }).catch(err => {
                        window.alert("Failed to copy", err);
                    });
                });
            });
        </script>
        <style type="text/tailwindcss">
            @layer components {
                .ip-addr {
                    @apply
                        font-extrabold
                        text-blue-800
                        hover:bg-blue-600 
                        hover:text-white 
                        hover:rounded-xl
                        cursor-pointer 
                        px-4 py-1
                        ;
                }
            }
        </style>
        
    </head>
    <body class="bg-white text-black">
        <div class="text-center">
            <img class="mx-auto py-10 w-12" src="{{.RootSlash}}images/toolstack-logo.png" alt="Tool Stack Logo" />
            <h2 class="text-2xl font-bold">Your Remote IP</h2>
            <button id="copyText" title="Click to copy {{.ClientIP}} to clipboard" class="ip-addr {{.TextSizeIPAddress}}">{{.ClientIP}}</button>
            
            {{if .ForwardedIPS}}
                <h2 class="text-xl font-bold mt-5">Your Forwarded IP</h2>
                {{range $ip := .ForwardedIPS}}
                    <p class="text-blue-800 font-semibold">{{$ip}}</p>
                {{end}}
            {{end}}
            
            
            
            
        </div>
        
        <div id="random-link-container" class="max-w-48 mx-auto"></div>
    </body>
</html>
